.header {
  position: relative;
  height: 62px;

  &--fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__cont {
    max-width: 958px;
    margin: auto;
  }
  
  &__logo {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%,0);
    display: block;
    width: 82px;

    &--lg {
      width: 92px;
      top: 21px;
    }

    &-img {
      display: block;
      width: 100%;
    }
  }
  
  &__btn {
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: top;
    height: 62px;
    width: 160px;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.35;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s color ease, 0.3s background-color ease;

    &:hover {
      background: #4caf50;
    }
  }

  &__back {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 22px 0 0 36px;

    .icon-back {
      transition: 0.3s all ease;
      margin: -2px 14px 0 0;
    }

    &:hover {
      .icon-back {
        transform: translate(-5px,0);
      }
    }
  }
}

@media(max-width: 992px) {
  .header {
    &__btn {
      display: none;
    }
  }
}

@media(max-width: 768px) {
  .header {
    &__back {
      margin-left: 0;
      margin-top: 30px;

      span {
        display: none;
      }
    }
  }
}