.interview {
  margin: 83px 0;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;

  &__cont {
    max-width: 887px;
    margin: auto;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
    margin-right: -40px;
  }

  &__item {
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 160%;

    h3 {
      font-size: 30px;
      line-height: 1.366;
      margin: 0 0 28px;
    }

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0 0 50px;
    list-style: none;

    &-item {
      font-size: 18px;
      line-height: 160%;
      margin-bottom: 53px;

      &:last-child {
        margin-bottom: 0;
      }

      &-icon-w {
        padding-bottom: 15px;
      }

      &-icon {
        display: block;
      }
      
      p {
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__powered {
    font-size: 18px;
    line-height: 160%;
    color: #5F5F68;
    margin: 117px 0 0;
  }
}

@media(max-width: 992px) {
  .interview {
    margin: 50px 0;

    &__row {
      margin-left: -15px;
      margin-right: -15px;
    }

    &__item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media(max-width: 768px) {
  .interview {
    &__item {
      width: 100%;
      margin-bottom: 25px;
    }

    &__powered {
      text-align: center;
      margin-top: 60px;
    }
  }
}