.sign-up {
  width: 518px;
  max-width: 100%;
  padding: 41px 15px 175px;
  margin: auto;

  h3 {
    text-align: center;
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;
    margin: 0 0 39px;
  }
  
  &__form {
    display: block;
    margin: auto;
    width: 356px;
    max-width: 100%;
  }
}

@media(max-width: 992px) {
  .sign-up {
    padding-bottom: 62px;
  }
}

@media(max-width: 480px) {
  .sign-up {
    h3 {
      font-size: 18px;
    }

    &__form {
      width: 257px;
    }
  }
}
