.welcome {
  background: #282828;
  padding: 92px 0 0;

  &__row {
    min-height: 513px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 974px;
    padding-bottom: 12px;
  }

  &__img-w {
    width: 375px;
    margin-left: 54px;

  }

  &__img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  &__cont {
    font-weight: bold;
    font-size: 23px;
    line-height: 1.347;
    color: #FFFFFF;
    padding: 50px 0 0 77px;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 33px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .welcome {
    &__cont {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media(max-width: 992px) {
  .welcome {
    &__img-w {
      width: 100%;
      margin: 0;
    }

    &__cont {
      text-align: center;
      padding-top: 15px;
    }

    &__row {
      padding-bottom: 150px;
    }
  }
}