.btn {
  text-align: center;
  border: 0;
  outline: 0;
  transition: 0.3s color ease, 0.3s background-color ease,  0.3s border ease;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 3px;
  height: 53px;
  line-height: 53px;
  padding: 0 20px;
  font-weight: normal;
  font-size: 18px;
  
  &--dark {
    color: #fff;
    background: #000000;

    &:hover {
      background: #4caf50;
    }
  }

  &--full {
    width: 100%;
  }
}