.form-row {
  margin-bottom: 18px;

  &__input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.375;
    padding: 0 15px;
    height: 48px;
    outline: 0;

    &::placeholder {
      color: #979797;
    }
  }
}
