*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin:auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: $fontOpenSans;
  background: #fff;
  color: #000;
}

.slick-slide {
  outline: 0!important;
}

.page-inner {
  padding-top: 50px;
}


